{% extends "layout.html" %}

{% block body %}
<div style = "margin-top : 100px;text-align: left;" class = "container">
<h3>Hakkımızda</h3>
<hr>

<p>Merhaba Ben Eren Ve Bu Bir Deneme Yazısıdır ve Buraya Birkaç Söz Bırakıyorum: One Piece, Eiiçiro Oda tarafından yazılan bir manga serisidir. Seri, Ağustos 1997 tarihinden bu yana Shueisha'nın Weekly Shonen Jump dergisinde yayınlanmaktadır. 98 Tankōbon cilt yayınlanmıştır. One Piece, şeytan meyvesi yiyerek doğaüstü güçler kazanmış, Monkey D.</p>
</div>
{% endblock body %}h3